{% include "_layout/head.twig" %}

{% block header %}
	{% include "_components/header.twig" %}
{% endblock %}

<div class="pt-[83.9px] lg:pt-[117.5px]">

	{% block hero %}
		{% set hero = post.meta('hero') %}
		{% include "_components/hero.twig" with {
			pre_title: hero.pre_title,
			title: hero.title|default(post.title),
			h1: hero.h1,
			copy: hero.copy,
			buttons: hero.buttons,
			usps: hero.usps,
			show_insurance_providers: hero.show_insurance_providers
		} %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block form %}
		{% if post.id in [17, 19] %}
			{% include "_components/join-the-team.twig" %}
		{% else %}
			{% include "_components/get-started.twig" %}
		{% endif %}
	{% endblock %}

	{% block footer %}
		{% include "_components/footer.twig" %}
	{% endblock %}

</div>

{% include "_layout/foot.twig" %}
