<section class="bg-secondary {{ spacingY }}">
    <div class="container">
        <span class="mb-6 text-primary font-heading text-3xl md:text-4xl lg:text-5xl leading-tight flex flex-wrap items-center">
            <a href="{{ options.social_facebook }}" target="_blank" class="mr-3 -mt-1 inline-block hover:text-primary-dark">{{ fn('icon','facebook') }}</a>
            Follow Us On Facebook 
        </span>
        {% filter shortcodes %}
            [trustindex-feed-facebook]
            {# [feed_them_social cpt_id=3159] #}
        {% endfilter %}
    </div>
</section>