<div class="bg-secondary {{ spacingY }}">
    <div class="container">
        <span class="-mb-8 text-primary font-heading text-3xl md:text-4xl lg:text-5xl leading-tight flex flex-wrap items-center">
            <a href="{{ options.social_facebook }}" target="_blank" class="mr-3 -mt-1 inline-block hover:text-primary-dark">{{ fn('icon','facebook') }}</a>
            Follow Us On Facebook 
        </span>
        {# Facebook feed #}
        {# <script type="text/javascript" src="https://www.juicer.io/embed/serendipity-psychology/embed-code.js?truncate=1&pages=1&per=4" async defer></script> #}
        <script type="text/javascript" src="https://www.juicer.io/embed/serendipity-psychology-05a0560f-6118-49aa-85fd-0e580545d8db/embed-code.js?truncate=1&pages=1&per=4" async defer></script>
    </div>
</div>