<section class="bg-secondary {{ spacingY }}">
    <div class="container">
        <div class="relative -m-2">
            <div class="js-gallery-slider">
                {% for item in section.gallery %}
                    <div class="p-2 md:p-4 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6">
                        <a href="{{ item.url|resize(1400) }}" class="flex hover:scale-103 transform" data-fslightbox="gallery">
                            {% include "_atoms/picture.twig" with {
                                source: item.url,
                                pictureClasses: 'relative z-0',
                                lazyload: true,
                                breakpoints: {
                                    "1px" : {
                                        w: 480,
                                        h: 480,
                                        crop: 'center'
                                    },
                                },
                                img: {
                                    classes: 'lazyload',
                                    w: 480,
                                    h: 480,
                                    crop: 'center',
                                    alt: item.alt
                                }
                            } %}
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% include "_atoms/slider-controls.twig" with {
                sliderName: 'gallery',
                controlsClasses: (section.gallery|length < 7 ? 'lg:hidden')
            } %}
        </div>
    </div>
</section>