<div id="reviews" class="{{ spacingY }} bg-primary">
    <div class="container">
        {# <script defer async src='https://cdn.trustindex.io/loader.js?b664ea1332fc5545e366b6e89ff'></script> #}
        {% filter shortcodes %}
            [trustindex no-registration=google]
        {% endfilter %}
    </div>
</div>