<div class="mobile-bottom-bar transform translate-y-24 transition-all duration-1000 container fixed z-50 bottom-4 left-0 flex justify-end w-full lg:hidden pointer-events-none">

  <div class="btn btn-primary justify-center scale-105 transform origin-bottom-right pointer-events-auto">
      Get started {{ fn('icon','angles-right') }}
  </div>

</div>
