/* ---------------------------------------------------
Core
--------------------------------------------------- */

body,
html {
  min-height: 101%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @apply font-sans text-base antialiased leading-relaxed text-black;
}

/* Uses IntersectionObserver to identify when the viewport has scrolled, and then show back to top */

/* #pixel-to-watch {
  @apply absolute left-0;
  width: 1px;
  height: 1px;
  top: 300px;
} */

.container {
  @apply w-full px-4 2xs:px-6 md:px-8 lg:px-5 xl:px-10 mx-auto;
  max-width: calc(theme("screens.4xl") + theme("spacing.8"));
}

a {
  @apply transition duration-300;
}

/***********************************************************
Lazyload **************************************************/

.lazyload,
.lazyloading {
  @apply opacity-0;
}

.lazyloaded {
  @apply transition duration-300 transform opacity-100;
}

/***********************************************************
SVG Icons **************************************************/

.icon {
  @apply inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/***********************************************************
Trustindex **************************************************/
.ti-widget.ti-goog .ti-header {
  @apply !p-0;
}

/***********************************************************
Shadows **************************************************/
.blue-shadow {
  box-shadow: 0 20px 30px rgba(0,43,89,0.07);
}

/***********************************************************
Testimonials **************************************************/
.more {
  display: none;
}

/***********************************************************
Iframes **************************************************/
.map-embed {
  iframe {
    @apply !w-full h-60;
  }
}

.map-embed-h-full {
  @apply h-full;
  iframe {
    @apply !w-full min-h-60 !h-full;
  }
}

/***********************************************************
Tables **************************************************/
.when-table {
  @apply w-full table-fixed;
  
  td, th {
    @apply leading-none text-sm border-4 sm:border-8 border-white text-center py-2 align-middle;
  }

  td:first-of-type {
    @apply font-medium text-left border-none;
  }

  th {
    @apply font-medium py-1 border-none;
  }

  .icon {
    @apply sm:text-base;
  }
}

/***********************************************************
FAQs **************************************************/
details[open] {
  .icon {
      @apply transform rotate-180;
  }
  summary {
    @apply text-primary;
  }
}
details > summary {
  &::-webkit-details-marker, &::marker {
    @apply hidden;
  }
}

/***********************************************************
Facebook feed **************************************************/
.fts-simple-fb-wrapper {
  @apply !grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6;

  /* &:nth-child(2) {
    @apply !hidden sm:!block;
  }

  &:nth-child(3) {
    @apply !hidden lg:!block;
  }

  &:nth-child(4) {
    @apply !hidden xl:!block;
  } */

  .fts-jal-single-fb-post {
    @apply bg-white !p-4;

    &:nth-of-type(2) {
      @apply !hidden sm:!block;
    }
  
    &:nth-of-type(3) {
      @apply !hidden lg:!block;
    }
  
    &:nth-of-type(4) {
      @apply !hidden xl:!block;
    }

    .fts-jal-fb-message {
      @apply max-h-80 overflow-y-scroll;
    }
  }

  .fts-fb-photo-post-wrap {
    .fts-jal-fb-message {
      @apply max-h-40 overflow-y-scroll;
    }
  }
}