{% extends '_layout/base.twig' %}

{% block content %}
    <div class="{{ spacingY }} bg-white">
        <div class="container">
            <div class="flex flex-wrap -mx-4">
                {% for post in posts %}
                    <div class="p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                        {% include "_atoms/post-card.twig" %}
                    </div>
                {% endfor %}
            </div>
            {% include "_atoms/pagination.twig" with {
                posts: posts 
            } %}
        </div>
    </div>
{% endblock %}
