<div class="bg-primary text-white p-6 rounded-tl-3xl flex flex-col h-full">
    <span class="text-lg sm:text-xl lg:text-2xl font-heading text-secondary leading-tight">{{ side.title }}</span>

    <div class="mt-4 text-sm copy dark-copy">
        {{ side.copy }}
    </div>
</div> 